@model EntityLayer.Concrete.Category
@{
    ViewBag.Title = "AddCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>yeni kategori ekleme sayfası</h1>
<br />

@using (Html.BeginForm("AddCategory", "AdminCtegory", FormMethod.Post)) //başlangıc formu nerede ne zaman işlem gerceklestirileceğini tutacak
{
    <div class="form-group">
        @Html.Label("kategori adı")
        @Html.TextBoxFor(x => x.CategoryName, new {@class="form-control"})
        @Html.ValidationMessageFor(x => x.CategoryName)
        <br /> <br />
        @Html.Label("açıklamayı yazınız")
        @Html.TextAreaFor(x => x.CategoryDescription, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.CategoryDescription)
        <br /> <br />
        <button class="btn btn-info">kaydet</button>
    </div>
}

